main{
    min-height: 750px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}
.conteiner {
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
  }
  
  .img {
    width: 400px;
    height: auto;
    margin-bottom: 20px;
  }
  
  .title, .price, .description, .category {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  .delete, .edit {
    padding: 10px 20px;
    margin: 0 10px;
    border: none;
    border-radius: 5px;
    background-color: #ff6347;
    color: #fff;
    cursor: pointer;
  }
  
  .delete:hover, .edit:hover {
    background-color: #d23e24;
  }


  @media (min-width: 1080px) {
    .conteiner {
      width: 50%;
    }
    .img {
      width: 400px;
      height: auto;
    }
  }
  
  @media (min-width: 700px) and (max-width: 1080px) {
    .conteiner {
      width: 50%;
    }
    .img {
      width: 300px;
      height: auto;
    }
  }
  
  @media (min-width: 400px) and (max-width: 700px) {
    .conteiner {
      width: 60%;
    }
    .img {
      width: 200px;
      height: auto;
    }
  }
  
  @media (max-width: 400px) {
    .conteiner {
      width: 80%;
    }
    .img {
      width: 200px;
      height: auto;
    }
  }